doctype html
html(lang="ru-RU")
	//- HEAD
	include ../common/head.jade
	body
		.wrapper
			.main-content
				//- HEADER
				include ../common/header.jade
				main.main
					//- NAVIGATION
					include ../common/nav.jade
					.content
						block content
		//- FOOTER
		include ../common/footer.jade