doctype html
html(lang="ru-RU")
	//- HEAD
	include ../common/head.jade
	body
		//- HEADER
		include ../common/header.jade
		main.main
			//- NAVIGATION
			include ../common/nav.jade
			block content
		//- FOOTER
		include ../common/footer.jade