extends ../layouts/main-layout.jade

block title
	title Эппл Shop - iPad Air WI-FI + Cellular 128 Gb - Silver

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__item-link Главная
		li.breadcrumbs__item
			a.breadcrumbs__item-link Каталог
		li.breadcrumbs__item iPad Air WI-FI + Cellular 128 Gb - Silver
	.product-info
		.product-img
			.product-img__big-img
				img.product-img__big-img-img
			ul.product-img__previews
				li.product-img__previews-item
					a.product-img__previews-link
						img.product-img__previews-img(src="#", alt="Изображение 1")
				li.product-img__previews-item
					a.product-img__previews-link
						img.product-img__previews-img(src="#", alt="Изображение 2")
				li.product-img__previews-item
					a.product-img__previews-link
						img.product-img__previews-img(src="#", alt="Изображение 3")
		.product-data
			.product-data__header iPad Air Wi-Fi + Cellular 128GB - Silver
			table.product-data__table
				tr.product-data__table-row
					td.product-data__table-cell Артикул
					td.product-data__table-cell 42787825
				tr.product-data__table-row
					td.product-data__table-cell Опция
					td.product-data__table-cell Включена
				tr.product-data__table-row
					td.product-data__table-cell Цвет
					td.product-data__table-cell серебристый
				tr.product-data__table-row
					td.product-data__table-cell Размер
					td.product-data__table-cell 1280*1245*90
				tr.product-data__table-row
					td.product-data__table-cell Вес
					td.product-data__table-cell 200 кг
				tr.product-data__table-row
					td.product-data__table-cell Артикул
					td.product-data__table-cell 42787825
				tr.product-data__table-row
					td.product-data__table-cell Опция
					td.product-data__table-cell Включена
				tr.product-data__table-row
					td.product-data__table-cell Цвет
					td.product-data__table-cell серебристый
				tr.product-data__table-row
					td.product-data__table-cell Размер
					td.product-data__table-cell 1280*1245*90
				tr.product-data__table-row
					td.product-data__table-cell Вес
					td.product-data__table-cell 200 кг
	.shop-desc
		.shop-desc__header Пара слов о магазине
		.shop-desc__col1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		.shop-desc__col2 Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		.shop-desc__col3 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.