extends ../layouts/main-layout.jade

block title
	title Эппл Shop - iPad Air WI-FI + Cellular 128 Gb - Silver

block content
	.content-layout
		ul.breadcrumbs
			li.breadcrumbs__item
				a.breadcrumbs__item-link(href="#") Главная
			li.breadcrumbs__item
				a.breadcrumbs__item-link(href="#") Каталог
			li.breadcrumbs__item iPad Air WI-FI + Cellular 128 Gb - Silver
		.product-info.clearfix
			.product-img
				.product-img__big-img
					ul.bxslider
						li.bxslider__item
							img.product-img__big-img-img(src="img/product-image-big.jpg" alt="iPad Air WI-FI + Cellular 128 Gb - Silver")
						li.bxslider__item
							img.product-img__big-img-img(src="img/product-image-big.jpg" alt="iPad Air WI-FI + Cellular 128 Gb - Silver")
						li.bxslider__item
							img.product-img__big-img-img(src="img/product-image-big.jpg" alt="iPad Air WI-FI + Cellular 128 Gb - Silver")
				ul.product-img__previews#bx-pager
					li.product-img__previews-item
						a.product-img__previews-link(data-slide-index="0")
							img.product-img__previews-img(src="img/product-image-preview-1.jpg", alt="Изображение 1")
					li.product-img__previews-item
						a.product-img__previews-link(data-slide-index="1")
							img.product-img__previews-img(src="img/product-image-preview-2.jpg", alt="Изображение 2")
					li.product-img__previews-item
						a.product-img__previews-link(data-slide-index="2")
							img.product-img__previews-img(src="img/product-image-preview-3.jpg", alt="Изображение 3")
			.product-data
				.product-data__header iPad Air Wi-Fi + Cellular 128GB - Silver
				table.product-data__table
					tr.product-data__table-row
						td.product-data__table-cell Артикул
						td.product-data__table-cell 42787825
					tr.product-data__table-row
						td.product-data__table-cell Опция
						td.product-data__table-cell Включена
					tr.product-data__table-row
						td.product-data__table-cell Цвет
						td.product-data__table-cell серебристый
					tr.product-data__table-row
						td.product-data__table-cell Размер
						td.product-data__table-cell 1280*1245*90
					tr.product-data__table-row
						td.product-data__table-cell Вес
						td.product-data__table-cell 200 кг
					tr.product-data__table-row
						td.product-data__table-cell Артикул
						td.product-data__table-cell 42787825
					tr.product-data__table-row
						td.product-data__table-cell Опция
						td.product-data__table-cell Включена
					tr.product-data__table-row
						td.product-data__table-cell Цвет
						td.product-data__table-cell серебристый
					tr.product-data__table-row
						td.product-data__table-cell Размер
						td.product-data__table-cell 1280*1245*90
					tr.product-data__table-row
						td.product-data__table-cell Вес
						td.product-data__table-cell 200 кг
		.shop-desc
			.shop-desc__header Пара слов о магазине
			.shop-desc-wrapper.clearfix
				.shop-desc__col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
				.shop-desc__col Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.shop-desc__col Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.