//COLORS
$color-white: #fff;

$bg-color-1: #42616d;
$bg-color-2: #e7edf4;
$bg-color-3: #f7f7f7;
$bg-color-4: #eef2f4;
$bg-color-5: #f8fafb;

$color-text-1: #00b9fe;
$color-text-2: #5c7b98;
$color-text-3: #613993;

$border-color-1: #dce6f0;
$border-color-2: #f1f5f9;

$shadow-color-1: rgba(0, 0, 0, 0.15);
$shadow-color-2: #ddd;