-var list1 = {"О нас":"#","Наши цены":"#","Наши скидки":"#","Акции":"#"}
-var list2 = {"Смартфоны":"#","Планшеты":"#","Компьютеры":"#","Акссесуары":"#"}
-var list3 = {"Телефоны":"#","Адреса":"#","Карты проезда":"#","Обратная связь":"#"}

footer.main-footer
	.content-layout.clearfix
		.logo-bottom
			a.main-link(href="#")
				img.logo-bottom-img(src="img/logo-footer.png")
		.links-wrapper.clearfix
			ul.links-list
				.links-list__header О магазине
				each val,key in list1
					li.links-list__item
						a.links-list__item-link(href=val)= key
			ul.links-list
				.links-list__header Каталог
				each val,key in list2
					li.links-list__item
						a.links-list__item-link(href=val)= key
			ul.links-list
				.links-list__header Контакты
				each val,key in list3
					li.links-list__item
						a.links-list__item-link(href=val)= key
		.social-bottom
			.social-wrapper
				ul.social-bottom__list
					li.social-bottom__item
						a.social-bottom__item-link.social-bottom__item-link_appstore(href="#") appstore
					li.social-bottom__item
						a.social-bottom__item-link.social-bottom__item-link_gplay(href="#") googleplay
			.social-wrapper
				ul.social-bottom__list
					li.social-bottom__item
						a.social-bottom__item-link.social-bottom__item-link_vk(href="#") vk
					li.social-bottom__item
						a.social-bottom__item-link.social-bottom__item-link_fb(href="#") fb
					li.social-bottom__item
						a.social-bottom__item-link.social-bottom__item-link_tw(href="#") tw
// JS

<!-- build:js js/vendor.min.js -->
//bower:js
script(src='/bower/jquery/dist/jquery.js')
//endbower;
<!-- endbuild -->

<!-- build:js js/main.min.js -->
script(src='js/script.js')
<!-- endbuild -->