head
	//META
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	block title
		title MainPage
	//SEO
	meta(name="description", content="")
	meta(name="keywords",content="")
	meta(name="author",content="Николай Пойманов, WayToStart")
	//CSS
	
	<!-- favicon.ico -->
	link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	link(rel="icon", href="/favicon.ico", type="image/x-icon")

	<!-- build:css css/vendor.min.css -->
	//bower:css
	link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
	//endbower;
	link(rel='stylesheet', href='/bower/bx-slider.js/dist/jquery.bxslider.css')
	<!-- endbuild -->

	<!-- build:css css/main.min.css -->
	link(rel='stylesheet', href='css/style.css')
	<!-- endbuild -->

	//Modernizr.js
	<!-- build:js js/modernizr.min.js -->
	script(src='/bower/modernizr/modernizr.js')
	<!-- endbuild -->