header.main-header
	.header-top
		ul.social-icons
			li.social-icons__item
				a.social-icons__item-link vk
			li.social-icons__item
				a.social-icons__item-link fb
			li.social-icons__item
				a.social-icons__item-link tw
		.address г. Москва, ул. Новая 246, офис 214
		.tel
			span.tel__blue +7 (921)
			| 322 12 32
	.header-content
		.logo
			img.logo__img(src="",alt="Эппл Shop")
		.search
			form.search__form
				input.search__form-input(type="text",name="input-search", placeholder="iMac 27 дюймов")
				input.search__form-submit(type="submit", value="Поиск")
		ul.top-links
			li.top-links__item
				a.top-links__item-link(href="#") Карта проезда
			li.top-links__item
				a.top-links__item-link(href="#") История заказов
		a.top-cart Корзина (3)

