-var main_menu = {"Мобильные телефоны": "#", "Планшеты": "#","Mp3 плееры": "#","Персональные компьютеры": "#","Ноутбуки": "#","Apple TV": "#","Аксессуары": "#"}

nav.main-nav
	.content-layout
		ul.nav-list
			each title, ndx in ['Мобильные телефоны', 'Планшеты', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары']
				li(class="nav-list__item " + ((ndx == 6) ? 'nav-list__item_last' : ''))
					a(href="#").nav-list__item-link.nav__link= title